body {
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600 !important;
}



header.masthead {

  background: linear-gradient(50deg, #000000 20%, #00008B 100%);

}

header.masthead .masthead-content .masthead-heading {
  font-size: 3rem;

}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
    background: linear-gradient(50deg, #000000 20%, #00008B 100%);
    color: #ee0979;
    padding: 0;


}

.masthead-content .container {padding: 0px !important; }
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 5rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;

    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

header.masthead .bg-circle-1 {
 background-image: url(../img/11.jpg) ;
        background-position: 50% 60%;
    height: 70rem;
  width: 70rem;
  bottom: -40rem;
  left: -40rem;


}

header.masthead .bg-circle-2 {
     background-image: url(../img/08.jpg) ;
  height: 50rem;
  width: 50rem;
  top: -15rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
     background-image: url(../img/12.jpg) ;
  height: 30rem;
  width: 30rem;
  bottom: -5rem;
  right: 20%;
}

header.masthead .bg-circle-4 {
     background-image: url(../img/11.jpg) ;
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 50%;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 139, 0.7);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  padding:0;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 0;
}
.p-5 {
  padding: 1rem !important;
}

@media (max-width: 992px) {
  body {
    text-align: center;
      font-size: 1.2rem;

  }
}

p {text-align: justify;}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);}


.logo {padding: 0.5rem;}
